<html>
<head>
 <title>Test application for openshift course</title>

</head>
<body>
 Hello there '{{ vars.name }} from host '{{vars.hostname }}'. 
<br>
 <br>
 <br>
<table>
  <tr> <td>Application version:</td><td>{{ vars.app_version }}</td> </tr>
  <tr> <td>Application start time:</td><td>{{ vars.app_start_time }}</td> </tr>
  <tr> <td>Web page fetch time:</td><td>{{ vars.date }}</td> </tr>
  <tr> <td>CPU usage</td><td id="cpuusage"></td> </tr>
</table>
 <iframe src="https://giphy.com/embed/oyQ9vnvVvPNES3HDko" width="120" height="68" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/reaction-mood-oyQ9vnvVvPNES3HDko">via GIPHY</a></p>

<script>
function loadDoc() {
  clearInterval(intervalID);
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
  intervalID = setInterval(function(){loadDoc();}, 2000);
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("cpuusage").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/ajax_cpu", true);
  xhttp.send();
}

loadDoc();

</script>


</body>
</html>

